In [64]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
InstaDec22Data = pd.read_csv('./Datasets/social media influencers-INSTAGRAM - -DEC 2022.csv')
InstaDec22Data=InstaDec22Data.rename(columns={'Eng. (Auth.)':'EngAuth', 'Eng. (Avg.)':'EngAvg', 'instagram name':'realname', 'name':'username'})
# YtbDec22Data = pd.read_csv('./Datasets/social media influencers-YOUTUBE - --DEC 2022.csv')
InstaDec22Data

,Rank,username,realname,Category_1,Category_2,followers,country,EngAuth,EngAvg
0,1,leomessi,Leo Messi,Sports with a ball,Family,409.8M,Argentina,17.8M,23.4M
1,2,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,523M,India,11.7M,14.7M
2,3,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,198.9M,Brazil,6.7M,9.5M
3,4,kyliejenner,Kylie ü§ç,Fashion,Modeling,376.3M,United States,2.7M,4.3M
4,5,kendalljenner,Kendall,Modeling,Fashion,268M,United States,3.2M,5M
...,...,...,...,...,...,...,...,...,...
995,996,thiago6,Thiago Alcantara,Sports with a ball,NaN,10.4M,United Kingdom,129.9K,222.7K
996,997,soycintiacossio,Cintia Cossio,Modeling,Adult content,6M,Colombia,313.4K,390.6K
997,998,feat.dino,Ïù¥Ï∞¨,Lifestyle,NaN,2.7M,South Korea,716.6K,876.4K
998,999,djokernole,Novak Djokovic,Sports with a ball,NaN,11.8M,United States,158.6K,197.5K
999,1000,ravindra.jadeja,Ravindrasinh jadeja,Lifestyle,Sports with a ball,4.8M,India,388.9K,485.1K

In [66]:
# YtbDec22Data.columns
# InstaDec22Data.assign(avg= (InstaDec22Data.EngAuth + InstaDec22Data.EngAvg)/(2*InstaDec22Data.followers))
data=np.empty((1000,0))
y=np.empty((1000,1))
for arr in [InstaDec22Data.EngAuth, InstaDec22Data.EngAvg, InstaDec22Data.followers]:
    x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
    for index in range(0, 1000):
        if(x[index][1]=='M'):
            y[index]=float(x[index][0])*1000000
        elif(x[index][1]=='K'):
            y[index]=float(x[index][0])*1000
        # print(y[index])
    data=np.concatenate([data, y], axis=1)
# print(data.shape)
Modified_data=pd.DataFrame(data, columns=['EngAuth','EngAvg','Followers'])
Modified_data=Modified_data
Modified_data.shape

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\.'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\.'
C:\Users\shrey\AppData\Local\Temp\ipykernel_8688\1985383649.py:6: SyntaxWarning: invalid escape sequence '\d'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
C:\Users\shrey\AppData\Local\Temp\ipykernel_8688\1985383649.py:6: SyntaxWarning: invalid escape sequence '\d'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
C:\Users\shrey\AppData\Local\Temp\ipykernel_8688\1985383649.py:6: SyntaxWarning: invalid escape sequence '\.'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))

(1000, 3)

In [67]:
Final_data=Modified_data.assign(Score=((Modified_data.EngAvg/Modified_data.Followers)+(Modified_data.EngAuth)))
Final_data=Final_data.drop(['EngAuth','EngAvg','Followers'], axis=1)

#### Bigger the better Score

In [68]:
# print(InstaDec22Data.isna().sum())
x=InstaDec22Data['country'].sort_values().unique()
lent = len(x)
Countries=dict()
for i in range(0,lent):
    Countries[x[i]]=i
Countries
Final_data=Final_data.assign(Country=InstaDec22Data.country)
Final_data=Final_data.assign(username=InstaDec22Data.username)
Final_data.replace(Countries)
Final_data=Final_data.sort_values('Score', ascending=False).drop_duplicates('username').sort_index()
reviewmatrix = Final_data.pivot(index="username", columns="Country", values="Score").fillna(0)
reviewmatrix

Country,NaN,Albania,Algeria,Argentina,Australia,Brazil,Chile,China,Colombia,Egypt,...,Russia,South Korea,Spain,Syria,Thailand,Turkey,United Arab Emirates,United Kingdom,United States,Yemen
username,,,,,,,,,,,,,,,,,,,,,
21savage,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.082000e+05,0.0
333cyj333,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,362700.064418,0.0,0.0,0.0,0.000000e+00,0.0
433,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,404800.011548,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
6ix9ine,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,1.100000e+06,0.0
7_luhan_m,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zacefron,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.424000e+05,0.0
zachking,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zefelipecantor,0.0,0.0,0.0,0.0,0.0,277400.019129,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zkdlin,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zoeisabellakravitz,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,3.690001e+05,0.0

In [30]:
from scipy.sparse.linalg import svds
matrix = reviewmatrix.values
U, sigma, Vt = svds(matrix, k=20)

In [31]:
# predicted_scores = user_factor_matrix @ singular_values @ influencer_factor_matrix.T
user_item_predicted = np.dot(np.dot(U, np.diag(sigma)), Vt)

In [33]:
influencers_in_country = user_item_predicted[Countries['India']]

In [34]:
top_influencers = influencers_in_country.argsort()[-5:][::-1]

In [35]:
print(top_influencers)

[20 17 15 27 33]

In [81]:
np.array(y).shape

(0,)

In [83]:
from sklearn.linear_model import LinearRegression
X = Final_data.drop('username', axis=1)
X = X.assign(Countr=X['Country'].replace(Countries)).drop('Country', axis=1)
y = range(999009, 1000000)
cost_model = LinearRegression()
cost_model.fit(X, y)
def predict_cost(influencer_features):
    predicted_cost = cost_model.predict([influencer_features])[0]
    return predicted_cost

NameError: name 'influencer_data' is not defined

In [40]:
U, sigma, Vt = svds(matrix, k=20)  # Adjust k as needed

# Reconstruct the predicted scores matrix
predicted_scores = np.dot(np.dot(U, np.diag(sigma)), Vt)

In [43]:
def recommend_influencers(country, budget):
    # Filter influencers based on country
    filtered_influencers = predicted_scores[Countries['India']]

    # Estimate cost (if you have a cost prediction model)
    if cost_estimation_model:
        estimated_costs = cost_estimation_model.predict(filtered_influencers)
        filtered_influencers = filtered_influencers[estimated_costs <= budget]

    # Sort influencers based on predicted scores
    top_influencer_indices = filtered_influencers.argsort()[-5:][::-1]

    # Get usernames of top influencers
    top_influencer_usernames = [df['username'].iloc[i] for i in top_influencer_indices]

    return top_influencer_usernames

In [44]:
# Example usage
country = "US"
budget = 100000

top_5_influencers = recommend_influencers(country, budget)
print(f"Top 5 influencers for {country} with budget ${budget:,}:")
for influencer in top_5_influencers:
    print(influencer)

NameError: name 'cost_estimation_model' is not defined

In [8]:
# Look for the users who reviewed more than 50 books
usercount = reviews[["work","user"]].groupby("user").count()
usercount = usercount[usercount["work"] >= 50]
print(usercount.head())

Rank                0
name                0
instagram name     19
Category-1         50
Category_2        667
followers           0
country             1
Eng. (Auth.)        0
Eng. (Avg.)         0
dtype: int64
s.no                 0
Youtube channel      0
youtuber name        0
Category           297
Followers            0
Country            177
\nViews (Avg.)       0
Likes (Avg.)         0
Comments (Avg.)      0
Category-2         731
dtype: int64

In [58]:
print(pd.concat.__doc__)

    Concatenate pandas objects along a particular axis.

    Allows optional set logic along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a mapping is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default False
        Sort non-concatenation axis if it is not already aligned.

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    It is not recommended to build DataFrames by adding single rows in a
    for loop. Build a list of rows and make a DataFrame in a single concat.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

    Append a single row to the end of a ``DataFrame`` object.

    >>> df7 = pd.DataFrame({'a': 1, 'b': 2}, index=[0])
    >>> df7
        a   b
    0   1   2
    >>> new_row = pd.Series({'a': 3, 'b': 4})
    >>> new_row
    a    3
    b    4
    dtype: int64
    >>> pd.concat([df7, new_row.to_frame().T], ignore_index=True)
        a   b
    0   1   2
    1   3   4