In [31]:
import os
from math import ceil
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import MinMaxScaler
from scipy.spatial.distance import cosine
from sklearn.metrics.pairwise import cosine_similarity as cosine_sim
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

In [14]:
InstaDec22Data = pd.read_csv('./Datasets/social media influencers-INSTAGRAM - -DEC 2022.csv')
InstaDec22Data=InstaDec22Data.rename(columns={'Eng. (Auth.)':'EngAuth', 'Eng. (Avg.)':'EngAvg', 'instagram name':'realname', 'name':'username'})
# YtbDec22Data = pd.read_csv('./Datasets/social media influencers-YOUTUBE - --DEC 2022.csv')
InstaDec22Data

,Rank,username,realname,Category_1,Category_2,followers,country,EngAuth,EngAvg
0,1,leomessi,Leo Messi,Sports with a ball,Family,409.8M,Argentina,17.8M,23.4M
1,2,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,523M,India,11.7M,14.7M
2,3,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,198.9M,Brazil,6.7M,9.5M
3,4,kyliejenner,Kylie ü§ç,Fashion,Modeling,376.3M,United States,2.7M,4.3M
4,5,kendalljenner,Kendall,Modeling,Fashion,268M,United States,3.2M,5M
...,...,...,...,...,...,...,...,...,...
995,996,thiago6,Thiago Alcantara,Sports with a ball,NaN,10.4M,United Kingdom,129.9K,222.7K
996,997,soycintiacossio,Cintia Cossio,Modeling,Adult content,6M,Colombia,313.4K,390.6K
997,998,feat.dino,Ïù¥Ï∞¨,Lifestyle,NaN,2.7M,South Korea,716.6K,876.4K
998,999,djokernole,Novak Djokovic,Sports with a ball,NaN,11.8M,United States,158.6K,197.5K
999,1000,ravindra.jadeja,Ravindrasinh jadeja,Lifestyle,Sports with a ball,4.8M,India,388.9K,485.1K

#### Removing nan from data

In [15]:
for i in range(0, len(InstaDec22Data)):
    if(InstaDec22Data.country.isna().iloc[i]):
        InstaDec22Data.country.iloc[i]= 'South Korea'
        # print(InstaDec22Data.iloc[i])
InstaDec22Data.Category_1=InstaDec22Data.Category_1.fillna("Any")
InstaDec22Data.Category_2=InstaDec22Data.Category_2.fillna("Any")
# InstaDec22Data.Category_2.isna().sum()

C:\Users\shrey\AppData\Local\Temp\ipykernel_16652\3260038867.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  InstaDec22Data.country.iloc[i]= 'South Korea'

#### Data Conversion from k mill etc to real values in float

In [16]:
# YtbDec22Data.columns
# InstaDec22Data.assign(avg= (InstaDec22Data.EngAuth + InstaDec22Data.EngAvg)/(2*InstaDec22Data.followers))
data=np.empty((1000,0))
y=np.empty((1000,1))
for arr in [InstaDec22Data.EngAuth, InstaDec22Data.EngAvg, InstaDec22Data.followers]:
    x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
    for index in range(0, 1000):
        if(x[index][1]=='M'):
            y[index]=float(x[index][0])*1000000
        elif(x[index][1]=='K'):
            y[index]=float(x[index][0])*1000
        # print(y[index])
    data=np.concatenate([data, y], axis=1)
# print(data.shape)
Modified_data=pd.DataFrame(data, columns=['EngAuth','EngAvg','Followers']).assign(Rank=InstaDec22Data['Rank'])
Modified_data=Modified_data.assign(Country=InstaDec22Data['country'])
Modified_data.shape

<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\.'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:6: SyntaxWarning: invalid escape sequence '\.'
C:\Users\shrey\AppData\Local\Temp\ipykernel_16652\2228098285.py:6: SyntaxWarning: invalid escape sequence '\d'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
C:\Users\shrey\AppData\Local\Temp\ipykernel_16652\2228098285.py:6: SyntaxWarning: invalid escape sequence '\d'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))
C:\Users\shrey\AppData\Local\Temp\ipykernel_16652\2228098285.py:6: SyntaxWarning: invalid escape sequence '\.'
  x=list(zip(arr.replace(['M$', 'K$'], '', regex=True), arr.replace(['\d', '\d', '\.'], '', regex=True)))

(1000, 5)

### Random Data modification for Score 
Instead couod've used Linear Regression

In [ ]:
Final_data=Modified_data.assign(Score=((Modified_data.EngAvg/Modified_data.Followers)+(Modified_data.EngAuth)))
Final_data=Final_data.drop(['EngAuth','EngAvg','Followers'], axis=1)

#### Bigger the better Score

In [98]:
# print(InstaDec22Data.isna().sum())
x=InstaDec22Data['country'].sort_values().unique()
lent = len(x)
Countries=dict()
for i in range(0,lent):
    Countries[x[i]]=i
Countries
Final_data=Final_data.assign(Country=InstaDec22Data.country)
Final_data=Final_data.assign(username=InstaDec22Data.username)
Final_data.replace(Countries)
Final_data=Final_data.sort_values('Score', ascending=False).drop_duplicates('username').sort_index()
reviewmatrix = Final_data.pivot(index="username", columns="Country", values="Score").fillna(0)
reviewmatrix

Country,NaN,Albania,Algeria,Argentina,Australia,Brazil,Chile,China,Colombia,Egypt,...,Russia,South Korea,Spain,Syria,Thailand,Turkey,United Arab Emirates,United Kingdom,United States,Yemen
username,,,,,,,,,,,,,,,,,,,,,
21savage,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,2.082000e+05,0.0
333cyj333,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,362700.064418,0.0,0.0,0.0,0.000000e+00,0.0
433,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,404800.011548,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
6ix9ine,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,1.100000e+06,0.0
7_luhan_m,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zacefron,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,5.424000e+05,0.0
zachking,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zefelipecantor,0.0,0.0,0.0,0.0,0.0,277400.019129,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zkdlin,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000e+00,0.0
zoeisabellakravitz,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,3.690001e+05,0.0

In [30]:
from scipy.sparse.linalg import svds
matrix = reviewmatrix.values
U, sigma, Vt = svds(matrix, k=20)

In [31]:
# predicted_scores = user_factor_matrix @ singular_values @ influencer_factor_matrix.T
user_item_predicted = np.dot(np.dot(U, np.diag(sigma)), Vt)

In [33]:
influencers_in_country = user_item_predicted[Countries['India']]

In [34]:
top_influencers = influencers_in_country.argsort()[-5:][::-1]

In [35]:
print(top_influencers)

[20 17 15 27 33]

In [100]:
Final_data

            Score         Country         username
0    1.780000e+07       Argentina         leomessi
1    1.170000e+07           India        cristiano
2    6.700000e+06          Brazil         neymarjr
3    2.700000e+06   United States      kyliejenner
4    3.200000e+06   United States    kendalljenner
..            ...             ...              ...
995  1.299000e+05  United Kingdom          thiago6
996  3.134001e+05        Colombia  soycintiacossio
997  7.166003e+05     South Korea        feat.dino
998  1.586000e+05   United States       djokernole
999  3.889001e+05           India  ravindra.jadeja

[991 rows x 3 columns]

In [84]:
from sklearn.linear_model import LinearRegression
X = Final_data.drop('username', axis=1)
X = X.assign(Countr=X['Country'].replace(Countries)).drop('Country', axis=1)
y = range(999009, 1000000)
cost_model = LinearRegression()
cost_model.fit(X, y)
def predict_cost(influencer_features):
    predicted_cost = cost_model.predict([influencer_features])[0]
    return predicted_cost

In [85]:
U, sigma, Vt = svds(matrix, k=20)  # Adjust k as needed

# Reconstruct the predicted scores matrix
predicted_scores = np.dot(np.dot(U, np.diag(sigma)), Vt)

In [109]:
def recommend_influencers(country, budget):
    filtered_influencers = predicted_scores[Countries[country]].
    print(filtered_influencers)
    if cost_model:
        estimated_costs = cost_model.predict(filtered_influencers)
        filtered_influencers = filtered_influencers[estimated_costs <= budget]
    top_influencer_indices = filtered_influencers.argsort()[-5:][::-1]
    top_influencer_usernames = [df['username'].iloc[i] for i in top_influencer_indices]
    return top_influencer_usernames

In [110]:
country = "United States"
budget = 100000

top_5_influencers = recommend_influencers(country, budget)
print(f"Top 5 influencers for {country} with budget ${budget:,}:")
for influencer in top_5_influencers:
    print(influencer)

AttributeError: 'numpy.ndarray' object has no attribute 'index'

## Custom Score from statistics
according to [here](https://blog.hootsuite.com/instagram-influencer-rates/) 
###### Engagement rate per post + extras for type of post (x #of posts) + extra factors = total rate.
###### The unspoken industry standard is $100 per 10,000 followers + extras for type of post (x # of posts) + additional factors = total rate.
form which I form the formula that makes sense for my data
### Per post
#### 1 dollor per 1000 follower + 1000000* authentic Engagement / Avg Engagement Rate
#### and ceiling of that.

In [34]:
data=np.empty((1000,0))
y=np.empty((1000,1))
for arr in Modified_data.index:
    y[arr]=ceil(0.001*Modified_data.Followers.iloc[arr]+1000000*Modified_data.EngAuth.iloc[arr]/Modified_data.EngAvg.iloc[arr])
    # print("==>", y[arr])
data=np.concatenate([data, y], axis=1)
Final_data=pd.DataFrame(data, columns=['Est_Pay'])
Final_data=Final_data.assign(catagory=InstaDec22Data['Category_1'])
Final_data=Final_data.assign(catagoryExta=InstaDec22Data['Category_2'])
# Modified_data=pd.DataFrame(data, columns=['EngAuth','EngAvg','Followers']).assign(Rank=InstaDec22Data['Rank'])
Final_data=Final_data.assign(Country=InstaDec22Data['country'])
Final_data=Final_data.assign(influencer=InstaDec22Data['username'])
Final_data=Final_data.assign(EngAvg=Modified_data['EngAvg'])
Final_data=Final_data.assign(Followers=Modified_data['Followers'])
print(Final_data)

       Est_Pay            catagory        catagoryExta         Country  \
0    1170484.0  Sports with a ball              Family       Argentina
1    1318919.0  Sports with a ball                 Any           India
2     904164.0  Sports with a ball                 Any          Brazil
3    1004207.0             Fashion            Modeling   United States
4     908000.0            Modeling             Fashion   United States
..         ...                 ...                 ...             ...
995   593696.0  Sports with a ball                 Any  United Kingdom
996   808356.0            Modeling       Adult content        Colombia
997   820364.0           Lifestyle                 Any     South Korea
998   814838.0  Sports with a ball                 Any   United States
999   806491.0           Lifestyle  Sports with a ball           India

          influencer      EngAvg    Followers
0           leomessi  23400000.0  409800000.0
1          cristiano  14700000.0  523000000.0
2           neymarjr   9500000.0  198900000.0
3        kyliejenner   4300000.0  376300000.0
4      kendalljenner   5000000.0  268000000.0
..               ...         ...          ...
995          thiago6    222700.0   10400000.0
996  soycintiacossio    390600.0    6000000.0
997        feat.dino    876400.0    2700000.0
998       djokernole    197500.0   11800000.0
999  ravindra.jadeja    485100.0    4800000.0

[1000 rows x 7 columns]

#### Min-Max Scaling for Pricing Etc.

In [21]:
scaler = MinMaxScaler()
training_data = Final_data
training_data[['Followers', 'EngAvg', 'Est_Pay']] = scaler.fit_transform(Final_data[['Followers', 'EngAvg', 'Est_Pay']])
def recommend_wnums(user_profile, df=training_data, top_n=10):
    user_profile_scaled = scaler.transform([[user_profile['min_followers'], user_profile['min_engagement'], user_profile['max_cost']]])
    min_followers_scaled, min_engagement_scaled, max_cost_scaled = user_profile_scaled[0]
    # print(user_profile_scaled) 
    similarities = {}
    for index, row in df.iterrows():
        influencer_vector = [row['Followers'], row['EngAvg'], row['Est_Pay']]
        user_profile_vector = [min_followers_scaled, min_engagement_scaled, max_cost_scaled]
        similarities[row['influencer']] = 1 - cosine(influencer_vector, user_profile_vector)
    # print(similarities)
    sorted_influencers = sorted(similarities.items(), key=lambda x: x[1], reverse=True)[:top_n]
    return sorted_influencers

#### Content-filtering for County and Catagory

In [32]:
training_data['combined_features'] = Final_data['catagory'] + ' ' + Final_data['Country']+' '+ Final_data['catagoryExta'] 
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(training_data['combined_features'])
# cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
def recommend_wcat(user_profile, cosine_sim=cosine_sim, df=training_data, top_n=5):
    user_profile_text = user_profile['country'] + ' ' + user_profile['category']
    user_profile_vector = tfidf_vectorizer.transform([user_profile_text])
    
    similarity_scores = cosine_sim(user_profile_vector, tfidf_matrix)
    similarity_scores = similarity_scores.flatten()
    
    top_indices = similarity_scores.argsort()[::-1][:top_n]
    recommended_influencers = df.iloc[top_indices]
    return recommended_influencers

## Testing

### Integrated

In [ ]:
user_profile = {
  "followers": 350000, 
  "minEng": 52000, 
  "est_cost": 1000000, 
  "category": "Cinema", 
  "country": "India"
}

recommended_influencers = recommend(user_profile)
print(recommended_influencers)

#### Unit

##### Min-Max Scaling

In [12]:
user_profile = {
    'min_followers': 4800000, 
    'min_engagement':  485100, 
    'max_cost': 806491
}
recommended_influencers = recommend_wnums(user_profile)
print(recommended_influencers)

[('vanessalopesr_', 0.9358479594805793), ('choquei', 0.9024599205516384), ('kyliejenner', 0.8162154322596025), ('instagram', 0.8117096767546013), ('kimkardashian', 0.7748726447832893), ('cristiano', 0.762477384068722), ('selenagomez', 0.7609066554821629), ('arianagrande', 0.7605807179993289), ('kendalljenner', 0.751806622955503), ('therock', 0.7444138248609348)]

C:\Users\shrey\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

##### Content-Filtering

In [37]:
user_profile = {
    'category': 'Fashion', 
    'country': 'United States'
}

# Get recommended influencers based on user profile
recommended_influencers = recommend_wcat(user_profile)
print(recommended_influencers)

      Est_Pay  catagory catagoryExta        Country   influencer    EngAvg  \
782  0.354477     Music      Fashion  United States     samsmith  0.007738
19   0.489261     Music      Fashion  United States    iamcardib  0.096971
34   0.433517     Music      Fashion  United States  harrystyles  0.126929
3    0.643052   Fashion     Modeling  United States  kyliejenner  0.182566
678  0.352742  Modeling      Fashion  United States  adrianalima  0.009386

     Followers               combined_features
782   0.021814     Music United States Fashion
19    0.247057     Music United States Fashion
34    0.079120     Music United States Fashion
3     0.647680  Fashion United States Modeling
678   0.022507  Modeling United States Fashion

### Failed Uttempt

In [4]:
categories=[('Country',[InstaDec22Data['country'].sort_values().unique()])]
ohe_columns = [x[0] for x in categories]
ohe_categories = [x[1] for x in categories]
enc = OneHotEncoder(sparse_output=False, categories=ohe_categories)
Modified_data[ohe_columns] = Modified_data[ohe_columns].astype('category')
for column_name, l in categories:
    Modified_data[column_name] = Modified_data[column_name].cat
    et_categories(l)
display(pd.get_dummies(Modified_data))

AttributeError: 'CategoricalAccessor' object has no attribute 's'

In [43]:
from sklearn.linear_model import LinearRegression
X = Modified_data
X = X.assign(Countr=X['Country'].replace(Countries)).drop('Country', axis=1)
y = np.array(range(1000, 1000001, 1000))
print(X.shape, y.shape)
cost_model = LinearRegression()
cost_model.fit(X, y)
def predict_cost(influencer_features):
    predicted_cost = cost_model.predict([influencer_features])[0]
    return predicted_cost

NameError: name 'Countries' is not defined

In [6]:
print(Modified_data[column_name].cat.__doc__)

    Accessor object for categorical properties of the Series values.

    Parameters
    ----------
    data : Series or CategoricalIndex

    Examples
    --------
    >>> s = pd.Series(list("abbccc")).astype("category")
    >>> s
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (3, object): ['a', 'b', 'c']

    >>> s.cat.categories
    Index(['a', 'b', 'c'], dtype='object')

    >>> s.cat.rename_categories(list("cba"))
    0    c
    1    b
    2    b
    3    a
    4    a
    5    a
    dtype: category
    Categories (3, object): ['c', 'b', 'a']

    >>> s.cat.reorder_categories(list("cba"))
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (3, object): ['c', 'b', 'a']

    >>> s.cat.add_categories(["d", "e"])
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (5, object): ['a', 'b', 'c', 'd', 'e']

    >>> s.cat.remove_categories(["a", "c"])
    0    NaN
    1      b
    2      b
    3    NaN
    4    NaN
    5    NaN
    dtype: category
    Categories (1, object): ['b']

    >>> s1 = s.cat.add_categories(["d", "e"])
    >>> s1.cat.remove_unused_categories()
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (3, object): ['a', 'b', 'c']

    >>> s.cat.set_categories(list("abcde"))
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (5, object): ['a', 'b', 'c', 'd', 'e']

    >>> s.cat.as_ordered()
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (3, object): ['a' < 'b' < 'c']

    >>> s.cat.as_unordered()
    0    a
    1    b
    2    b
    3    c
    4    c
    5    c
    dtype: category
    Categories (3, object): ['a', 'b', 'c']

## Deployment
- Model serialization

In [38]:
import joblib
joblib.dump(scaler, 'scaler_model.pkl')
Final_data.to_csv('Final_data.csv', index=False)
joblib.dump(tfidf_vectorizer, 'tfidf_vectorizer.pkl')
joblib.dump(tfidf_matrix, 'tfidf_matrix.pkl')

['tfidf_matrix.pkl']